header {
    background-color: #FFED74;
    border: 1px black solid;
    padding: 20px;
}

nav {
    background-color: #E8C66A;
    border: 1px black solid;
    padding: 20px;
}

aside {
    background-color: #FFC675;
    border: 1px black solid;
    padding: 20px;
}

article {
    background-color: #E89C6C;
    border: 1px black solid;
    padding: 20px;
}

footer {
    background-color: #FF957E;
    border: 1px black solid;
    padding: 20px;
}

div/section {
    background-color: #FFE2B8;
    border: 1px black solid;
    padding: 20px;
}

body {
    background-image: url("../images/coffeechill.jpg");
    background-color: whitesmoke;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1, p, li {
    color: white;
    font-family: Optima, sans-serif;
    text-align: center;
}

img {
    display: block;
    width: 25%;
    height: 25%;
    margin-left: auto;
    margin-right: auto;
}

#three_column {
    background-color: #FFB7CF;
    border: 1px black solid;
    padding: 20px;
}

#left {
    background-color: #E582A2;
    border: 1px black solid;
    padding: 20px;
}

#right {
    background-color: #E55B88;
    border: 1px black solid;
    padding: 20px;
}

#left {
    background-color: violet;
    border: 1px black solid;
    padding: 20px;
    float: left;
    width: 30%;
}

#right {
    background-color: pink;
    border: 1px black solid;
    padding: 20px;
    float: right;   
    width: 62%;
}