body {
    background-image: url("https://www.dropbox.com/sh/vmu36x9sep029nv/AACW-z943zb6EEaH72O-1HY9a/11.%20CHS%20-%20November%202019/createherstock-2019-CoffeeChill-Neosha-Gardner-15.jpg?dl=0");
    background-color: whitesmoke;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1, p, li {
    color: white;
    font-family: Optima, sans-serif;
    text-align: center;
}

img {
    display: block;
    width: 50%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
}

