body {
    background-image: url("css/coffeechill.jpg");
    background-color: whitesmoke;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
h1, p, li {
    color: white;
    font-family: Optima, sans-serif;
    text-align: center;
}
p
ul
li
img {
    align-content: center;
}
#slogan
